.App {
  width: 100vw;
  height: 100vh;
}
.login-background {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
  background-size: cover;
}

.container-child {
  position: absolute;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container-child > p {
  font-size: 20pt;
  font-weight: 500;
  margin-bottom: 20px;
}
form {
  width: 400px;
}

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}
.input-div.username {
  margin-top: 40px;
}
.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.5s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}
.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #002cb8;
  transition: 0.4s;
}
.input-div:before {
  right: 50%;
}
.input-div:after {
  left: 50%;
}
.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: 2px;
  font-size: 13px;
}

.input-div.focus > .i > i {
  color: #002cbb;
}
.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

.remember-me {
  display: flex;
  position: relative;
  padding-left: 5px;
}
.remember-me label {
  color: #555;
  margin-left: 5px;
  font-size: 1rem;
  transition: 0.5s;
}
.remember-me label:hover {
  color: #002cbb;
  cursor: pointer;
}

.remember-me input[type="checkbox"] {
  vertical-align: middle;
  position: relative;
  bottom: -1px;
}

.remember-me a {
  margin-left: auto;
  text-decoration: none;
  color: #555;
  font-size: 1rem;
  transition: 0.5s;
}

.remember-me a:hover {
  color: #002cbb;
}

.login-btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #002cbb, #0054d1, #0085eb);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.login-btn:hover {
  background-position: right;
  color: white;
  border: 1px solid white;
}
.container-footer {
  display: flex;
  margin-top: 10px;
}
.container-footer p {
  margin-right: 5px;
}
.container-footer span {
  font-weight: 400;
  color: #002cbb;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.container-footer span:after {
  content: "now!";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
  font-weight: 500;
}
.container-footer:hover span {
  padding-right: 2.6em;
  font-weight: 500;
}

.container-footer:hover span:after {
  opacity: 4;
  right: 0;
}

/* REGISTER */

.register-form .register-input {
  margin-top: 10px;
  width: 100%;
}

.register-form .register-button {
  margin-top: 25px;
  width: 100%;
  height: 50px;
  font-weight: 600;
}

.mainpage-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.mainpage-sidebar {
  min-width: 250px;
  height: 100vh;
}
.mainpage-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contents-container {
  max-width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.contents-container::-webkit-scrollbar {
  display: none;
}

.tryLang > input {
  text-transform: capitalize;
}
